---
import HeaderLink from '@/components/HeaderLink'
import TwitterIcon from '@/components/icons/TwitterIcon'
import GithubIcon from '@/components/icons/GithubIcon'
import MenuIcon from './icons/MenuIcon.astro'
import Search from '@/components/Search'
import TagIcon from './icons/TagIcon.astro'
import ToggleTheme from './ToggleTheme.astro'

// ADD YOUR SOCIAL NETWORKS HERE
const SOCIALNETWORKS = [
	{
		name: 'Github',
		url: 'https://github.com/danielcgilibert/blog-template',
		icon: GithubIcon
	},

	{
		name: 'Twitter',
		url: 'https://github.com/danielcgilibert/blog-template',
		icon: TwitterIcon
	}
]
---

<header class='relative flex items-center h-12 font-semibold'>
	<!-- <ToggleTheme /> -->
	<div class='w-full flex flex-row items-center justify-around'>
		<div>
			<img
				src='https://static.vio.vin/favicon.png/thumbnail'
				alt='favicon'
				class='h-10 w-10 object-cover'
			/>
		</div>
		<div>
			<HeaderLink class='header-link' href='/'>Home</HeaderLink>
			<HeaderLink class='header-link' href='/blog'>Blog</HeaderLink>
			<HeaderLink class='header-link' href='/short'>Short</HeaderLink>
			<HeaderLink class='header-link' href='/project'>Project</HeaderLink>
			<HeaderLink class='header-link' href='/about'>About</HeaderLink>
		</div>
		<div>
			<ToggleTheme />
		</div>
	</div>
</header>
<style>
	.header-link {
		@apply text-xl mx-2 hover:text-violet transition-all;
	}
</style>
<script>
	document.addEventListener('click', (event) => {
		const menu = document.getElementById('astro-header-drawer')
		const menuButton = document.getElementById('astro-header-drawer-button')
		const isClickInside =
			menu?.contains(event.target as HTMLDivElement) ||
			menuButton?.contains(event.target as HTMLButtonElement)

		if (isClickInside) {
			menu?.classList.toggle('translate-x-96')
		} else {
			menu?.classList.add('translate-x-96')
		}
	})
</script>
